<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">

    <title>Modern Business - Start Bootstrap Template</title>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
      <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
      <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
      <style>
        .is-countdown {
          border: none;
          background: none;
        }
        .over {
          display: block;
          text-align: center;
          vertical-align: middle;
          font-size: 25px;
        }
      </style>
     
</head>

<body>
 <!-- Sidebar/menu -->
<nav class="w3-sidebar w3-collapse w3-white w3-animate-left" style="z-index:3;width:300px;" id="mySidebar"><br>
  <div class="w3-container">
    <a href="#" onclick="w3_close()" class="w3-hide-large w3-right w3-jumbo w3-padding w3-hover-grey" title="close menu">
      <i class="fa fa-remove"></i>
    </a>
    <img src="/logo3.png" style="width:45%" class="w3-round"><br><br>
    <p><b><%= @user_id %></b><a href="/posts/new" class="w3-button w3-white w3-border w3-border-black w3-hover-black w3-round-large" style="text-decoration:none; padding:5px; margin-left:10px">제품올리기</a></p>
  </div>
  <div class="w3-bar-block">
    <a href="/after_login" onclick="w3_close()" class="w3-bar-item w3-button w3-padding w3-black"><i class="fa fa-users w3-margin-right"></i>All</button>
    <a href="/mine" onclick="w3_close()" class="w3-bar-item w3-button w3-padding"><i class="fa fa-user fa-fw w3-margin-right"></i>Mine</a> 
    <a href="#" onclick="w3_close()" class="w3-bar-item w3-button w3-padding"><i class="fa fa-envelope fa-fw w3-margin-right"></i>CONTACT</a>
  </div>
  <div class="w3-panel w3-large">
    <i class="fa fa-facebook-official w3-hover-opacity"></i>
    <i class="fa fa-instagram w3-hover-opacity"></i>
    <i class="fa fa-snapchat w3-hover-opacity"></i>
    <i class="fa fa-pinterest-p w3-hover-opacity"></i>
    <i class="fa fa-twitter w3-hover-opacity"></i>
    <i class="fa fa-linkedin w3-hover-opacity"></i>
  </div>
</nav>
<div class = "col-lg-9" id = 'allinone'>
    <!-- Page Content -->
    <div class="container">

        <!-- Page Heading/Breadcrumbs -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header"><%= @post.title %></h1>
                <h5><%= @post.content %></h5>
                <!--<ol class="breadcrumb">-->
                <!--    <li><a href="index.html">Home</a>-->
                <!--    </li>-->
                <!--    <li class="active">Blog Post</li>-->
                <!--</ol>-->
            </div>
        </div>
        <!-- /.row -->

        <!-- Content Row -->
        <div class="row">

            <!-- Blog Post Content Column -->
            
            <div class="col-lg-12">

                <!-- Blog Post -->

            
                <!-- Date/Time -->
                <p><i class="fa fa-clock-o"></i> 게시물 생성시간?<%= @utc %></p>

                <hr>
                 <% if @post.image1.present? %>
                <!-- Preview Image -->
                <div id="carousel-example-generic" class="carousel slide" data-ride="carousel" style="width:40%; margin:auto">
                 
                  <!-- Indicators -->
                  <ol class="carousel-indicators">
                    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                    <% if @post.image2.present? %>
                    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                      <%if @post.image3.present? %>
                      <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                       <% end %>
                    <% end %>
                  </ol>
                
                  <!-- Wrapper for slides -->
                  
                  <div class="carousel-inner" role="listbox">
                    <div class="item active" >
                      <img src="<%= @post.image1 %>"  style="height:300px; margin:auto; width: 300px">
                      <div class="carousel-caption">
                       
                      </div>
                    </div>
                    <% if @post.image2.present? %>
                    <div class="item">
                      <img src="<%= @post.image2 %>" style="height:300px; width: 300px">
                      <div class="carousel-caption">
                        
                      </div>
                    </div>
                      <%if @post.image3.present? %>
                      <div class="item">
                        <img src="<%= @post.image3 %>" style="height:300px; width: 300px">
                        <div class="carousel-caption">
                          
                        </div>
                      </div>
                      <% end %>
                    <% end %>
                    
                  </div>
                  
                
                  <!-- Controls -->
                 
                    <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                      <% if @post.image2.present? %>
                      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                      <span class="sr-only">Previous</span>
                      <% end %>
                    </a>
                    <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                      <% if @post.image2.present? %>
                      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                      <span class="sr-only">Next</span>
                      <% end %>
                    </a>
                    </div>
                  
                
                <% else %>
                    <img src="/uploads/no_detail_img.gif" style="height 300px">
                  <% end %>
                <!--  <div class="well" style="width: 40%; display: inline-block">-->
                <!--  <ol>-->
                <!--    <li>                    </li>-->
                <!--    <li></li>-->
                <!--    <li></li>-->
                <!--  </ol>-->
                <!--</div>-->
                <hr>

                <!-- Post Content -->
                <div class="well" id="kkk" style="height: 80px;">
                    <span id="clock"></span>
                </div>
                
                <div class="well">
                    <table class="table">
                      <thead>
                            <tr>
                              <th>입찰가격</th>
                              <th>즉시 구매가</th>
                            </tr>
                          </thead>
                        <tbody>
                          <tr>
                            <td><%= @post.up_price %></td>
                            <td><%= @post.bn_price %></td>
                          </tr>
                        
                      </tbody>
                    </table>
                </div>
                 <div class="well">
                     <div ng-app="counter" ng-controller="Controller" class="counter">
                        <pre>현재가: {{count}}                                  시작가: <%= @post.start_price %></pre>
                        
                       
                        <button ng-click="up()">+{{<%= @post.up_price %>}}</button>
                        <br /><br />
                      
                      
                      </div>
                </div>

                <hr>

                <!-- Blog Comments -->

                <!-- Comments Form -->
                <div class="well">
                    <h4>Leave a Comment:</h4>
                    <form role="form">
                        <div class="form-group">
                            <textarea class="form-control" rows="3"></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>

                <hr>

               
            </div>

            <!-- Blog Sidebar Widgets Column -->
           

             
        <hr>

        <!-- Footer -->
        <footer>
           
        </footer>

    
    <!-- /.container -->
    
    </div>
    <script>
      // 클릭 가격
      var myApp = angular.module('counter', []);
      myApp.controller('Controller', function Controller($scope) {
        $scope.num = <%= @post.up_price %>;
        $scope.count = <%= @post.start_price %>;
        $scope.up = function(){
          if (confirm("입찰하시겠습니까?")) {
          $scope.count += $scope.num;
          } else {
          // Do nothing!
          }
        }
        $scope.$watch('inputVal', function(val) {
          if (val) {
            $scope.num = val;
          }
        });
      }); 
      
    // $('#clock').countdown({until: <%#= @time %>});
    
    $('#clock').countdown({until: <%= @time %>, 
    expiryText: '<div class="over">마감되었습니다.</div>'}); 
    
    
    // Script to open and close sidebar
    function w3_open() {
        document.getElementById("mySidebar").style.display = "block";
        document.getElementById("myOverlay").style.display = "block";
    }
     
    function w3_close() {
        document.getElementById("mySidebar").style.display = "none";
        document.getElementById("myOverlay").style.display = "none";
    }
    
    

</script>
</body>

</html>
